@import '../../style/lib/vars';

.category-item {
  h2 {
    display: inline-block;
    font-size: 3vw;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1vw;
  }
  .content {
    > button {
      background: none;
      color: red;
      font-size: $font-sm;
      cursor: pointer;
    }
  }
}